<div class="min-h-screen mt-28">
    <div class=" flex flex-col items-end md:pr-20 md:m-10">
        <button mat-raised-button (click)="addBook()" type="button"><span class="text-orange-500 font-semibold">Add Book</span></button>
    </div>
    
    <div class="grid grid-col-2 md:grid-cols-4 justify-between pl-5">
        <xev-book-detail-card *ngFor="let book of books" [bookDetail]="book" (deleteEM)="deleteBook(book.id)" (updateEM)="updateBook(book)"></xev-book-detail-card>

        <p *ngIf="books.length == 0" class="text-black text-4xl">No books found</p>
    </div>
</div>
