<div class="flex flex-row justify-center items-end h-full">
  <mat-card class=" w-2/3 md:w-1/3 items-center mt-20">
    <div class="m-5">
      <mat-card-title class="text-orange-500 text-4xl font-semibold">Sign Up</mat-card-title>
  
    </div>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" class="w-full justify-center m-5">
      <p>
        <mat-form-field class="w-full">
          <input type="text" matInput placeholder="email" formControlName="email" />
        </mat-form-field>
      </p>
      <p >
      </p>
      <p>
        <mat-form-field class="w-full">
          <input type="password" matInput placeholder="Password" formControlName="password" [minlength]="6">

        </mat-form-field>        
      </p>
    
      <p>
        <mat-form-field class="w-full">
          <input type="name" matInput placeholder="Name" formControlName="displayName">
        </mat-form-field>
      </p>
    
      <p *ngIf="error" class="text-sm bg-white text-red-600 text-center rounded-md p-2 shadow-md">
        {{ error }}
      </p>
      <p *ngIf="form.get('password')?.hasError('minlength')" class="text-sm bg-white text-red-600 text-center rounded-md p-2 shadow-md" >
        Min. 6 characters required.</p>
    
      <div class="flex flex-row justify-end">
        <button type="submit" mat-button>Submit</button>
      </div>
    </form>
    </mat-card-content>
    </mat-card>
</div>